@font-face {
  font-family: "Sponge-Regular";
  src: url("Schriften/Sponge-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Sponge-Regular";
}
